# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Packages
*.egg
*.egg-info/
dist/
build/

debug.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Coverage
.coverage

# Distribution / packaging
.eggs/
*.egg-info/
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Environments
.env
.venv
env/
env.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

override.cfg

# IDEs
*.swp
*~

venv/
